<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add a new asset to follow</h1>
      <form action="/add" method="POST">
        <div class="form-group mt-4">
          <label for="symbol">Stock symbol:</label>
          <input type="text" class="form-control" name="symbol" id="symbol" aria-describedby="helpId" placeholder="Type the stock symbol to follow">
          <button type="submit" class="btn btn-primary mt-3">Follow</button>
        </div>
      </form>
    </div>
  </div>
</div>