<div class="container mt-5 chart-panels">
  <div class="row">
    <div class="col-sm-12">
      <h1>Assets dashboard</h1>
    </div>
  </div>
  <div class="row">
    {{#each symbols }}
    <div class="col-sm-6">
      <div class="chart">
        <p>{{symbol}} Chart</p>
        <canvas id="{{symbol}}"></canvas>
      </div>
    </div>
    {{/each }}
  </div>
</div>